---
layout: base.njk
title: Ariel Shamir — Home
---

<div id="content">
  <h1>Hello...</h1>
  <a href="https://clipasso.github.io/clipasso/">
    <img
      src="images/AShamir_CLIPasso2000.gif"
      style="width: 12rem; float:left; margin: 1rem;"
      alt="Hello!"
      id="portrait"
    />
  </a>
  <p>
    I am a professor and the former Dean (2017-2021) of the
    <a href="https://www.runi.ac.il/schools/computer-science/" target="_blank"
      >Efi Arazi School of Computer Science</a
    >
    at
    <a href="https://www.runi.ac.il/en" target="_blank">Reichman University</a>
    in Israel (formerly the Interdisciplinary Center). I hold a B.Sc. and M.Sc.
    cum laude in Mathematics and Computer Science from the
    <a href="http://www.cs.huji.ac.il/site/index.php" target="_blank"
      >Hebrew University</a
    >
    in Jerusalem, and a Ph.D. in Computer Science (2000).<br />

    After my doctoral studies, I spent two years as a postdoctoral fellow at the
    <a href="http://cvcweb.ices.utexas.edu/cvc/" target="_blank"
      >Computational Visualization Center</a
    >
    at the University of Texas in Austin. Since then, I have held visiting
    research positions at
    <a href="http://www.merl.com/" target="_blank"
      >Mitsubishi Electric Research Labs</a
    >
    (Cambridge, MA) in 2006, and at
    <a href="http://www.disneyresearch.com/" target="_blank">Disney Research</a>
    &amp; MIT in 2014. My academic and professional affiliations also extend to
    the
    <a href="https://www-ui.is.s.u-tokyo.ac.jp/en/members.html"
      >Tokyo University</a
    >, <a href="https://cg.cs.tsinghua.edu.cn/">Tsinghua University</a>,
    <a href="https://www.llnl.gov/" target="_blank"
      >Lawrence Livermore national laboratory</a
    >, and several high-tech companies including PrimeSense (acquired by Apple),
    Paieon Medical, Camera51,
    <a href="http://www.verisk.com/">Verisk Analytics</a>,
    <a href="https://www.knowtion.de/en/welcome/">ShiraTech</a>, Donde (acquired
    by Shopify), <a href="https://www.shopify.com/"> Shopify </a>,
    <a href="https://www.mappo.world/">Mappo</a>, Google, and others.<br />

    My research interests span a range of fields, including image and video
    processing, geometric modeling, computer graphics, digital fabrication,
    visualization, and machine learning.
    <br />

    My publications in these areas can be found in
    <a href="https://faculty.runi.ac.il/arik/site/research.asp"
      >the research section</a
    >
    of this site. I also contributed to several patents. I am a member of
    several professional societies, including
    <a href="http://www.siggraph.org/" target="_blank">ACM SIGGRAPH</a>,
    <a href="http://www.computer.org/" target="_blank">IEEE Computer</a>,
    <a href="http://www.eg.org/" target="_blank">Eurographics</a>, and
    <a href="http://www.asiagraphics.org/" target="_blank">AsiaGraphics.</a>
    <br />

    I received the AsiaGraphics
    <a href="https://www.asiagraphics.org/awards/outstanding2023"
      >Outstanding Technical Contributions Award</a
    >
    (2023), was inducted into the
    <a href="https://www.siggraph.org/awards/acm-siggraph-academy/"
      >SIGGRAPH Academy (2024)</a
    >, and the EuroGraphics
    <a
      href="https://www.eg.org/wp/eurographics-awards-programme/the-outstanding-technical-contributions-award/outstanding-technical-contributions-award-2025-ariel-shamir/"
    >
      Outstanding Technical Contributions Award</a
    >
    (2025). <br /><br />

    <a href="https://canvas-lab.org/"
      ><img width="250px" src="images/CanvasLab.jpg"
    /></a>
  </p>
  <div>
    &nbsp&nbsp&nbsp Popular videos of my research work:
    <br />
    <table>
      <tr>
        <td class="pic">
          <a
            href="http://www.youtube.com/watch?v=6NcIJXTlugc"
            class="pic-shadow"
          >
            <img
              width="215px"
              src="images/research/thumbnails/seam-carve.jpg"
              class="research"
            />
          </a>
        </td>
        <td>&nbsp&nbsp&nbsp <br /></td>
        <td class="pic">
          <a
            href="http://www.youtube.com/watch?v=dW1Epl2LdFM"
            class="pic-shadow"
          >
            <img
              width="215px"
              src="images/research/thumbnails/photo-sketch.png"
              class="research"
            />
          </a>
        </td>
        <td>&nbsp&nbsp&nbsp <br /></td>
        <td class="pic">
          <a
            href="http://www.youtube.com/watch?v=Oie1ZXWceqM"
            class="pic-shadow"
          >
            <img
              width="215px"
              src="images/research/thumbnails/3Sweep.png"
              class="research"
            />
          </a>
        </td>
        <td class="pic">
          <a href="https://clipasso.github.io/clipasso/" class="pic-shadow">
            <img
              width="215px"
              src="images/ClipassoMovie.png"
              class="research"
            />
          </a>
        </td>
      </tr>
      <tr>
        <td align="center">
          <a href="http://www.youtube.com/watch?v=6NcIJXTlugc">Seam Carving</a
          ><br />
        </td>
        <td>&nbsp&nbsp&nbsp <br /></td>
        <td align="center">
          <a href="http://www.youtube.com/watch?v=dW1Epl2LdFM">Sketch2Photo</a
          ><br />
        </td>
        <td>&nbsp&nbsp&nbsp <br /></td>
        <td align="center">
          <a href="http://www.youtube.com/watch?v=Oie1ZXWceqM">3-Sweep</a><br />
        </td>
        <td align="center">
          <a href="https://clipasso.github.io/clipasso/"> CLIPasso </a><br />
        </td>
        <td>&nbsp&nbsp&nbsp <br /></td>
      </tr>
    </table>
  </div>
</div>
