---
layout: base.njk
title: Industry — Ariel Shamir
---

<section class="about">
  <h1>Industry</h1>
  <p>Some places I am (or have been) affiliated with:</p>
  <br />
  <br />

  <span class="industry-span">
    <a href="https://sibf.vc/" target="_blank" class="industry-a">
      <img
        src="images/layout/SIBF.jpg"
        alt="SIBF"
        width="80"
        class="industry-img"
      />
      <br />
      Southern Israel Bridging Fund
    </a>
  </span>

  <span class="industry-span">
    <a href="https://www.shopify.com/" target="_blank" class="industry-a">
      <img
        src="images/layout/shopify.png"
        alt="Shopify"
        width="200"
        class="industry-img"
      />
    </a>
  </span>

  <span class="industry-span">
    <a href="https://mappo.world/" target="_blank" class="industry-a">
      <img
        src="images/layout/mappo.png"
        alt="Mappo"
        width="200"
        class="industry-img"
      />
    </a>
  </span>

  <span class="industry-span">
    <a href="https://learn.dondesearch.com/" target="_blank" class="industry-a">
      <img
        src="images/layout/donde.jpg"
        alt="Donde"
        width="120"
        class="industry-img"
      />
      (acquired by Shopify)
    </a>
  </span>

  <span class="industry-span">
    <a href="https://verisk.com/" target="_blank" class="industry-a">
      <img
        src="images/layout/verisk.png"
        alt="Verisk"
        width="150"
        class="industry-img"
      />
    </a>
  </span>

  <span class="industry-span">
    <a href="http://www.camera51.com/" target="_blank" class="industry-a">
      <img
        src="images/layout/camera51.jpg"
        alt="Camera51"
        width="50"
        class="industry-img"
      />
    </a>
  </span>

  <span class="industry-span">
    <a href="http://www.disneyresearch.com/" target="_blank" class="industry-a">
      <img
        src="images/layout/disneyresearch.jpg"
        alt="disney"
        class="industry-img"
      />
    </a>
  </span>

  <span class="industry-span">
    <img
      src="images/layout/sensomatix.jpg"
      alt="sensomatix"
      class="industry-img"
    />
    Sensomatix (acquired by Verisk)
  </span>

  <span class="industry-span">
    <a href="http://www.merl.com/" target="_blank" class="industry-a">
      <img src="images/layout/MERL.jpg" alt="MERL" class="industry-img" />
      Mitsubishi Electric Research Labs (MERL)
    </a>
  </span>

  <span class="industry-span">
    <img
      src="images/layout/PrimeSense.png"
      alt="PrimeSense"
      width="150"
      class="industry-img"
    />
    (acquired by Apple)
  </span>

  <span class="industry-span">
    <a href="http://www.paieon.com/" target="_blank" class="industry-a">
      <img src="images/layout/paieon.jpg" alt="paieon" class="industry-img" />
      Paieon Medical
    </a>
  </span>

  <span class="industry-span">
    <img src="images/layout/LLNL.jpg" alt="LLNL" class="industry-img" />
    <a href="https://www.llnl.gov/" target="_blank" class="industry-a">
      Lawrence Livermore National Laboratory
    </a>
  </span>
</section>
