---
layout: base.njk
title: Industry — Ariel Shamir
---

<section class="about">
  <h1>Industry</h1>
  <p>Some places I am (or have been) affiliated with:</p>

  <a href="https://sibf.vc/" target="_blank" class="industry-span">
    <img
      src="/images/industry/sibf.png"
      alt="SIBF"
      width="80"
      class="industry-img"
    />
    Southern Israel Bridging Fund
  </a>

  <a class="industry-span" href="https://www.shopify.com/" target="_blank">
    <img
      src="/images/industry/shopify.svg"
      alt="Shopify"
      width="200"
      class="industry-img"
    />
  </a>

  <a class="industry-span" href="https://mappo.world/" target="_blank">
    <img
      src="/images/industry/mappo.png"
      alt="Mappo"
      width="200"
      class="industry-img"
    />
  </a>

  <a
    href="https://learn.dondesearch.com/"
    target="_blank"
    class="industry-span"
  >
    <img
      src="/images/industry/donde.png"
      alt="Donde"
      width="120"
      class="industry-img"
    />
    (acquired by Shopify)
  </a>

  <a href="https://verisk.com/" target="_blank" class="industry-span">
    <img
      src="/images/industry/verisk.svg"
      alt="Verisk"
      width="150"
      class="industry-img"
    />
  </a>

  <a class="industry-span" href="http://www.camera51.com/" target="_blank">
    <img
      src="/images/industry/camera51.webp"
      alt="Camera51"
      width="50"
      class="industry-img"
    />
    Camera51
  </a>

  <a
    class="industry-span"
    href="http://www.disneyresearch.com/"
    target="_blank"
  >
    <img
      src="/images/industry/disneyresearch.png"
      alt="disney"
      class="industry-img"
    />
  </a>

  <span class="industry-span">
    <img
      src="/images/industry/sensomatix.png"
      alt="sensomatix"
      class="industry-img"
    />
    Sensomatix (acquired by Verisk)
  </span>

  <a class="industry-span" href="http://www.merl.com/" target="_blank">
    <img
      src="/images/industry/merl.svg"
      alt="MERL"
      class="industry-img"
      style="height: 2rem;"
    />
    Mitsubishi Electric Research Labs (MERL)
  </a>

  <span class="industry-span">
    <img
      src="/images/industry/primesense.png"
      alt="PrimeSense"
      class="industry-img"
    />
    PrimeSense (acquired by Apple)
  </span>

  <a class="industry-span" href="http://www.paieon.com/" target="_blank">
    <img src="/images/industry/paieon.png" alt="paieon" class="industry-img" />
    Paieon Medical
  </a>

  <a class="industry-span" href="https://www.llnl.gov/" target="_blank">
    <img src="/images/industry/lll.png" alt="LLNL" class="industry-img" />
    Lawrence Livermore National Laboratory
  </a>
</section>
