---
layout: base.njk
title: Others — Ariel Shamir
---

<section class="about">
  <h1>Others</h1>
  <p>
    Ariel Shamir has held visiting research positions at
    <a href="http://www.merl.com/" target="_blank"
      >Mitsubishi Electric Research Labs</a
    >
    (Cambridge, MA) in 2006, and at
    <a href="http://www.disneyresearch.com/" target="_blank">Disney Research</a>
    &amp; MIT in 2014. My academic and professional affiliations also extend to
    the
    <a href="https://www-ui.is.s.u-tokyo.ac.jp/en/members.html"
      >Tokyo University</a
    >, <a href="https://cg.cs.tsinghua.edu.cn/">Tsinghua University</a>,
    <a href="https://www.llnl.gov/" target="_blank"
</section>
