---
layout: base.njk
title: Research — Ariel Shamir
permalink: /papers/
---

<section class="papers-list">
  <h1>Research</h1>
  <ul class="category-list">
    <li><a href="/papers/all/">All Publications</a></li>
    {% for cat in collections.papersByCategory %}
      <li><a href="/categories/{{ cat.slug }}/">{{ cat.name }}</a></li>
    {% endfor %}
  </ul>
  <br />
  <h2>Recent Work</h2>

  {% for paper in papers | sort(true, false, 'year') %}
    {% if paper.categories and "Recent" in paper.categories %}
      {% include "paper-card.njk" %}
    {% endif %}
  {% endfor %}
</section>
