---
layout: base.njk
title: Teaching — Ariel Shamir
---

<section class="about">
  <h1>Teaching</h1>

  <table class="research-list" style="width:520px">
    <tr>
      <td class="pic-sq">
        <a href="#">
          <img src="images/teaching/ComputerGraphics.png" class="research" />
        </a>
      </td>
      <td>
        <h3>Computer Graphics</h3>

        <div class="list-column">
          <ul class="small-list">
            <li>Spring 2020</li>
            <li>Spring 2019</li>
            <li>Spring 2018</li>
            <li>Fall 2016</li>
            <li>Spring 2015</li>
          </ul>
        </div>
        <div class="list-column">
          <ul class="small-list">
            <li>spring 2013</li>
            <li>Spring 2012</li>
            <li>Spring 2011</li>
            <li>Spring 2010</li>
          </ul>
        </div>
      </td>
    </tr>
    <tr>
      <td class="seperator" colspan="2">
        <hr />
      </td>
    </tr>

    <tr>
      <td class="pic-sq">
        <a href="#" class="pic-shadow-sq">
          <img src="images/teaching/machine.jpg" class="research" />
        </a>
      </td>
      <td>
        <h3>Machine Learning</h3>

        <div class="list-column">
          <ul class="small-list">
            <li>Spring 2017</li>
            <li>Spring 2016</li>
            <li>Fall 2011</li>
            <li>Fall 2009</li>
          </ul>
        </div>
        <div class="list-column">
          <ul class="small-list">
            <li>Spring 2008</li>
            <li>Fall 2004</li>
            <li>Fall 2003</li>
          </ul>
        </div>
      </td>
    </tr>
    <tr>
      <td class="seperator" colspan="2">
        <hr />
      </td>
    </tr>

    <tr>
      <td class="pic-sq">
        <a href="#" class="pic-shadow-sq">
          <img src="images/teaching/patches.png" class="research" />
        </a>
      </td>
      <td>
        <h3>Advanced Seminar in Graphics</h3>

        <ul class="small-list">
          <li>Fall 2019: Deep Learning in Graphics</li>
          <li>Fall 2016: Neural Networks for Image Processing</li>
          <li>Fall 2015: Learning in Graphics</li>
          <li>Fall 2012: Image & Video manipulations</li>
          <li>Fall 2011: Semantics in image processing</li>
          <li>
            Fall 2010:
            <a
              href="http://www.faculty.idc.ac.il/arik/seminar2010/"
              target="_blank"
              >Information Enhanced Graphics</a
            >
          </li>
          <li>
            Fall 2009:
            <a
              href="http://www.faculty.idc.ac.il/arik/seminar2009/"
              target="_blank"
              >Images, Patches, Features</a
            >
          </li>
          <li>
            Spring 2006:
            <a
              href="http://www1.idc.ac.il/icgf/GraphicsSeminar2006/"
              target="_blank"
              >From Shape to Motion</a
            >
          </li>
          <li>
            Spring 2005:
            <a
              href="http://www.faculty.idc.ac.il/arik/LODSeminar/LOD%20Seminar.htm"
              target="_blank"
              >LOD in Graphics and Visualization</a
            >
          </li>
          <li>
            Spring 2002:
            <a
              href="http://www.faculty.idc.ac.il/arik/GraphAA/GraphAlgorithms.html"
              target="_blank"
              >Algorithm Animation</a
            >
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="seperator" colspan="2">
        <hr />
      </td>
    </tr>
    <tr>
      <td class="pic-sq">
        <a href="#" class="pic-shadow-sq">
          <img src="images/teaching/java.jpg" class="research" />
        </a>
      </td>
      <td>
        <h3>
          <a href="http://www1.idc.ac.il/coursesftp/cs/intro1/" target="_blank"
            >Introduction to Computer Science in Java</a
          >
        </h3>

        <div class="list-column">
          <ul class="small-list">
            <li>Fall 2008</li>
            <li>Fall 2007</li>
            <li>Fall 2005</li>
            <li>Fall 2004</li>
          </ul>
        </div>
        <div class="list-column">
          <ul class="small-list">
            <li>Fall 2003</li>
            <li>Fall 2002</li>
            <li>Fall 2001</li>
            <li>Fall 2000</li>
          </ul>
        </div>
      </td>
    </tr>
    <tr>
      <td class="seperator" colspan="2">
        <hr />
      </td>
    </tr>

    <tr>
      <td class="pic-sq">
        <a href="#" class="pic-shadow-sq">
          <img src="images/teaching/geometric.jpg" class="research" />
        </a>
      </td>
      <td>
        <h3>Geometric Modeling and Visualization</h3>

        <div class="list-column">
          <ul class="small-list">
            <li>Fall 2010</li>
            <li>Spring 2009</li>
            <li>Spring 2006</li>
            <li>Spring 2004</li>
            <li>Spring 2003</li>
          </ul>
        </div>
        <div class="list-column">
          <ul class="small-list">
            <li>Spring 2002</li>
          </ul>
        </div>
      </td>
    </tr>
  </table>
</section>
