<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title | default("Ariel Shamir") }}</title>
    <link rel="stylesheet" href="/style/reset.css" />
    <link rel="stylesheet" href="/style/main.css" />
    <script src="https://unpkg.com/@phosphor-icons/web@2.1.2"></script>
  </head>
  <body>
    <header>
      <nav class="site-nav">
        <a href="/" class="nav-name">Ariel Shamir</a>
        <div class="nav-links">
          <a href="/">
            <i class="ph-fill ph-house"></i>
            Home
          </a>
          <a href="/papers/">
            <i class="ph-fill ph-graph"></i>
            Research
          </a>
          <a href="/teaching/">
            <i class="ph-duotone ph-book-open"></i>
            Teaching
          </a>
          <a href="/industry/">
            <i class="ph-duotone ph-monitor"></i>
            Industry
          </a>
          <a href="/others/">
            <i class="ph-fill ph-smiley"></i>
            Others
          </a>
        </div>
      </nav>
    </header>
    <main>{{ content | safe }}</main>
    <footer>
      <p>&copy; {{ "" | default("2026") }} Ariel Shamir</p>
    </footer>
    <script>
      document.addEventListener('click', function (e) {
        if (e.target.closest('.bibtex-btn')) {
          e.preventDefault();
          const dialog = e.target.closest('.bibtex-btn').nextElementSibling;
          dialog.showModal();
        }
        if (e.target.closest('.bibtex-copy-btn')) {
          const pre = e.target.closest('dialog').querySelector('pre');
          navigator.clipboard.writeText(pre.textContent);
          e.target.closest('.bibtex-copy-btn').textContent = 'Copied!';
          setTimeout(() => {
            e.target.closest('.bibtex-copy-btn').textContent = 'Copy';
          }, 2000);
        }
      });
      document.addEventListener('click', function (e) {
        if (e.target.tagName === 'DIALOG') {
          e.target.close();
        }
      });
    </script>
    <script src="/style/pagination.js"></script>
  </body>
</html>
